@import url('./reset.css');
@font-face {
    font-family: 'Knewave';
    font-style: normal;
    font-weight: 400;
    src: local('Knewave'), local('Knewave-Regular'), url(https://fonts.gstatic.com/s/knewave/v6/sykz-yx0lLcxQaSIhS23-w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
body{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
#root{
    display: flex;
    width: 1100px;
    height: 600px;
    justify-content: center;
    align-content: center;
    margin-top: 4%;
    cursor: none;
}
.cell{
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    border-collapse: collapse;
    padding: 13px;
    margin: 1px;
}
.score{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    font-family: 'Knewave';
    font-size: 40px;
}
.apple{
    background-color: red;
}
.snake{
    background-color: green;
}
.border{
    background-color: blue;
}
.modal-dialog{
    display: flex;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Knewave';
    font-size: 40px;
}
.modal-dialog div{
    text-align: center;
    margin-bottom: 20px;
}
.modal-dialog button{
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Knewave';
    font-size: 20px;
    border-radius: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
}
.modal-dialog button:hover{
    color: black;
    background-color: white;
}